.affairColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #ffffff;
}

.active {
    background-color: #c2ffa6;
}
.affairContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.low {
    color: #71b756;
}
.middle {
    color: #ffd741;
}

.high {
    color: #ff5741;
}
